<div class="col-sm-10" id="index_menu">
	<div class="css-slideshow">
	    <figure>
	        <img src="/static/images/SAFE.png" alt="class-header-css3" width="495" height="370" class="alignnone size-full wp-image-172" /> 
	    </figure>
	    <figure>
	        <img src="/static/images/solid.png" alt="class-header-semantics" width="495" height="370" class="alignnone size-full wp-image-179" />
	    </figure>
	    <figure>
	        <img src="/static/images/easy.png" alt="class-header-css3" width="495" height="370" class="alignnone size-full wp-image-178" /> 
	    </figure>
	    <figure>
	        <img src="/static/images/efficient.png" alt="class-header-semantics" width="495" height="370" class="alignnone size-full wp-image-177" />
	    </figure>
	    <figure>
	        <img src="/static/images/modular.png" alt="class-header-css3" width="495" height="370" class="alignnone size-full wp-image-176" /> 
	    </figure>
	    <figure>
	        <img src="/static/images/safe_second.png" alt="class-header-semantics" width="495" height="370" class="alignnone size-full wp-image-175" />
	    </figure>
	    <figure>
	        <img src="/static/images/light.png" alt="class-header-css3" width="495" height="370" class="alignnone size-full wp-image-174" /> 
	    </figure>
	    <figure>
	        <img src="/static/images/customizable.png" alt="class-header-semantics" width="495" height="370" class="alignnone size-full wp-image-173" />
	    </figure>
	  </div>
</div>