{% extends "billetera_base.html" %}
{% load humanize %}

{% block title %}
  SAGE - Nueva Billetera
{% endblock %}

{% block body%}
  <body {% if mensaje %} {% endif %}>
{% endblock %}

{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-money"></i>
      Nueva Billetera
    </h3>
    <hr>
    <div class="col-md-4">
      {% if form %}
        <form
          method="post"
          class="form form-vertical"
        >
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <p>
                {{ form.nombre }}
                <span
                  class='error'
                  id='{{form.nombre.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.nombre.errors }}
              <p>
                {{ form.apellido }}
                <span
                  class='error'
                  id='{{form.apellido.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.apellido.errors }}
              <p>
                <table><tbody><tr>
                  <td>
                    {{ form.cedulaTipo }}
                  </td>
                  <td>
                    {{ form.cedula }}
                  </td>
                </tr></tbody></table>
                <span
                  class='error'
                  id='{{form.cedula.name}}_error'
                  aria-live="polite"
                ></span>
                {{ form.cedula.errors }}
              </p>
              <p>
              	{{ form.pin }}
              	<span
                  class='error'
                  id='{{form.pin.name}}_error'
                  aria-live="polite"
                ></span>
                {{ form.pin.errors }}
              </p>
            </div>
          </div>
          <input
            type="submit"
            value="Crear Billetera"
            class="btn btn-primary"
          >
        </form>
      {% endif %}
      
      {% if billetera %}
        <div class="row">
          <div class="col-md-15" style="color:{{color}}">
            {{mensaje}}
            <hr>
          </div>
          <div class="col-md-15">
            <table class="table table-striped">
              <tbody>
                <tr><td><b><i class="c"></i>
                  ID de billetera:
                </b></td></tr>
                <tr><td>
                  {{billetera.id}}
                </td></tr>
                <tr><td><b><i class="fa fa-circle"></i>
                  PIN:
                </b></td></tr>
                <tr><td>
                  {{billetera.PIN}}
                </td></tr>
                <tr><td><b><i class="fa fa-money"></i>
                  Saldo:
                </b></td></tr>
                <tr><td>
                  BsF. {{saldo|floatformat:2|intcomma }}
                </td></tr>
              </tbody>
            </table>
            <div>
            	
            <div class="controls">
            	<a href="/billetera/crearbilletera">
                	<button type="submit" class="btn btn-primary">
                  		Volver
                	</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {% include "validator.js.html" %}

  <script type="text/javascript">
    function popuponclick(){
      my_window = window.open("",
       "mywindow","status=1,width=350,height=150");

      my_window.document.write('<h1>The Popup Window</h1>');
    }

    function closepopup(){
      window.close();
    }
  </script>
{% endblock %}
