{% extends "base-billetera.html" %}
{% load humanize %}

{% block title %}
  SAGE - Pago
{% endblock %}

{% block body%}
{% endblock %}

{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-money"></i>
      Recargar Billetera Electronica
    </h3>
    <hr>
    <div class="col-md-4">
      {% if form %}
        <form
          method="post"
          class="form form-vertical"
        >
        <div class="col-md-8" style="color:{{color}}">
          {{ mensaje }}
        </div>
        <br>
        </br>
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <p>
                {{ form.id }}
                <span
                  class='error'
                  id='{{form.id.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.id.errors }}
              <p>
                {{ form.pin }}
                <span
                  class='error'
                  id='{{form.pin.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.pin.errors }}
              <!--{% comment %}  <p>
                {{ form.monto }}
                <span
                  class='error'
                  id='{{form.monto.name}}_error'
                  aria-live="polite"
                ></span>
              </p>
              {{ form.monto.errors }}{% endcomment %}-->
            </div>
          </div>
          <button class="btn btn-primary">
            Confirmar
          </button>
        </form>
      {% endif %}
      <div class="row">
      {% if valido %}
        <a href="./pagarrecarga" onClick="return popup(this, 'Pago Tarjeta')">
          <button class="btn btn-primary">
            Pagar con Tarjeta de Credito
          </button>
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {% include "validator.js.html" %}
  
  <script type="text/javascript">
    function popup(mylink, windowname) {
      if (! window.focus)
        return true;
      var href;
      if (typeof(mylink) == 'string')
        href=mylink;
      else
        href=mylink.href;
      window.open(href, windowname, 'width=800,height=600,scrollbars=yes');
      return false;
    }
  </script>

  <script type="text/javascript">
    function popuponclick(){
      my_window = window.open("",
       "mywindow","status=1,width=350,height=150");

      my_window.document.write('<h1>The Popup Window</h1>');
    }

    function closepopup(){
      window.close();
    }

    function openlink(){
      opener.location='./billeterarecargar';
    }
  </script>
{% endblock %}