<table class="table table-striped">
  <thead></thead>
  <tbody>
    <tr><td><b><i class="fa fa-car"></i>
      Nombre del estacionamiento:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.nombre}}
    </td></tr>

    <tr><td><b><i class="fa fa-user"></i>
      CI del propietario:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.cedulaTipo}}-{{estacionamiento.CI_prop}}
    </td></tr>

    <tr><td><b><i class="fa fa-home"></i>
      Direcci&oacuten:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.direccion}}
    </td></tr>

    {% if estacionamiento.telefono1 %}
      <tr><td><b><i class="fa fa-phone"></i>
        Tel&eacutefono Oficina 1:
      </b></td></tr>
      <tr><td>
        {{estacionamiento.telefono1}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.telefono2 %}
      <tr><td><b><i class="fa fa-phone"></i>
        Tel&eacutefono Oficina 2:
      </b></td></tr>
      <tr><td>
        {{estacionamiento.telefono2}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.email1 %}
      <tr><td><b><i class="fa fa-at"></i>
        Correo Electr&oacutenico Oficina:
      </b></td></tr>
      <tr><td>
        {{estacionamiento.email1}}
      </td></tr>
    {% endif %}

    <tr><td><b><i class="fa fa-circle"></i>
      RIF:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.rif}}
    </td></tr>
    {% if estacionamiento.horizonte %}
    <tr><td><b><i class="fa fa-circle"></i>
      Horizonte de reservaci&oacute;n:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.horizonte}} D&iacute;a(s)
    </td></tr> 
    {% endif %}
    {% if estacionamiento.capacidadLivianos or estacionamiento.capacidadPesados or estacionamiento.capacidadMotos  %}
      <tr><td><b><i class="fa fa-car"></i> Puestos Livianos:</b></td></tr>
      <tr><td>{{estacionamiento.capacidadLivianos}}</td></tr>
      <tr><td><b><i class="fa fa-truck"></i> Puestos Pesados:</b></td></tr>
      <tr><td>{{estacionamiento.capacidadPesados}}</td></tr>
      <tr><td><b><i class="fa fa-bicycle"></i> Puestos Motos:</b></td></tr>
      <tr><td>{{estacionamiento.capacidadMotos}}</td></tr>
      <tr><td><b><i class="fa fa-wheelchair"></i> Puestos Discapacitados:</b></td></tr>
      <tr><td>{{estacionamiento.capacidadDiscapacitados}}</td></tr>
     {% endif %}        
  </tbody>
</table>