<table class="table table-striped">
  <thead></thead>
  <tbody>
    <tr><td><b><i class="fa fa-car"></i>
      Nombre del estacionamiento:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.nombre}}
    </td></tr>

    <tr><td><b><i class="fa fa-user"></i>
      CI del propietario:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.CI_prop}}
    </td></tr>

    <tr><td><b><i class="fa fa-home"></i>
      Direcci&oacuten:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.direccion}}
    </td></tr>

    {% if estacionamiento.telefono1 %}
      <tr><td><b><i class="fa fa-phone"></i>
        Tel&eacutefono Oficina 1:
      </b></td></tr>
      <tr><td>
        {{estacionamiento.telefono1}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.telefono2 %}
      <tr><td><b><i class="fa fa-phone"></i>
        Tel&eacutefono Oficina 2:
      </b></td></tr>
      <tr><td>
        {{estacionamiento.telefono2}}
      </td></tr>
    {% endif %}

    {% if estacionamiento.email1 %}
      <tr><td><b><i class="fa fa-at"></i>
        Correo Electr&oacutenico Oficina:
      </b></td></tr>
      <tr><td>
        {{estacionamiento.email1}}
      </td></tr>
    {% endif %}

    <tr><td><b><i class="fa fa-circle"></i>
      RIF:
    </b></td></tr>
    <tr><td>
      {{estacionamiento.rif}}
    </td></tr>
  </tbody>
</table>