{% extends "base-estacionamiento.html" %}

{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamiento {{estacionamiento.nombre}}
    </h3>
    <hr>
       <form  method="post" class="form form-vertical">
      {% csrf_token %}
      {% for choice in form.esquema_diasFeriados %}
      
        <div class="control-group">
          <div class="controls">
            {{ choice }}
          </div>
        </div>     
      {% endfor %}
      <div class="control-group">
        <label></label>
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Dias Feriados!!!!!!
          </button>
        </div>
      </div>
    </form>
  </div>
  
{% endblock %} 