<div class="col-sm-2">
  <h3><i class="glyphicon glyphicon-briefcase"></i>
      Menú
  </h3>
  <hr>
  <div id='cssmenu'>
  <ul>
  	<li><a href="/index"><i class="fa fa-circle"></i>
      P&aacutegina Principal
	<li><a href="/billetera/crearbilletera"><i class="fa fa-credit-card"></i>
	    Crear Billetera Electronica
	</a></li>
	<li><a href="/billetera/billeterarecargar"><i class="fa fa-bank"></i>
	    Recargar Billetera
	</a></li>
    <li><a href="/billetera/verSaldo"><i class="fa fa-bank"></i>
	    Consultar Billetera Electronica
	</a></li>

	<li><a href="/billetera/cambiarContraseñaVerificar"><i class="fa fa-key"></i>
	    Cambiar Contraseña
	</a></li>

    <li><a href="/billetera/verhistorial"><i class="fa fa-book"></i>
	    Consultar Historial
	</a></li>	

  </ul>
  </div>
  <hr>
</div>
