{% extends "base-reserva.html" %}
{% load humanize %}
{% load firstof from future %}

{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}

{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-times"></i>
      Cambiar Reserva - Billetera a Reembolsar
    </h3>
  	<hr>
  	<div class="col-md-8" style="color:{{color}}">
  	  {% if mensaje %} 
        {{ mensaje }}
      {% endif %}
	</div>
  {% if billetera %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
            <h4>
              Billetera Electronica
            </h4>
          </div>
        </div>
        <div class="panel-body">
        {% if valido = 0 %}
          <form
            action="/estacionamientos/mover_reserva/comfirmar"
            method="post"
            class="form form-vertical"
          >
            {% csrf_token %}
              {% for field in billetera %}
                <div class="control-group">
                  <div class="controls">
                    {{ field }}
                    <span class='error' id='{{field.name}}_error' aria-live="   polite">{{ field.errors }}</span>
                    <p></p>
                  </div>
                </div>
              {% endfor %}

              <div class="control-group">
                <label></label>
                <div class="controls">
                  <button type="submit" class="btn btn-primary">
                    Verificar
                  </button>
                </div>
              </div>
              
              {% endif %}
              
		      {% if valido = 1 %}
		      
		     <div class="col-md-8">
		     <label></label>
		      <a href="/estacionamientos/{{reserva.estacionamiento.id}}/modopago" onClick="return popup(this, 'Pago de Reserva')">
		          <button class="btn btn-primary">
		            Modo de Pago
		          </button>
		        </a>
		    </div>    
		      {% endif %}              
              </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block scripts %}
  {% include "validator.js.html" %}
	<script type="text/javascript">
	function popup(mylink, windowname) {
	  if (! window.focus)
	    return true;
	  var href;
	  if (typeof(mylink) == 'string')
	    href="/estacionamientos/{{reserva.estacionamiento.id}}/modopago";
	  else
	    href=mylink.href;
	  window.open(href, windowname, 'width=800,height=600,scrollbars=yes');
	  return false;
	}
</script>
{% endblock %}
