{% load humanize %}
<table class="table table-striped">
  <thead></thead>
  <tbody>
  
    {% if estacionamiento.capacidad %}
      <tr><td><b><i class="fa fa-car"></i> Puestos:</b></td></tr>
      <tr><td>{{estacionamiento.capacidad}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Horario apertura:</b></td></tr>
      <tr><td>{{estacionamiento.apertura}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Horario cierre:</b></td></tr>
      <tr><td>{{estacionamiento.cierre}}</td></tr>
    {% endif %}
    
    {% if estacionamientotarifa.tarifa %}
      <tr><td><b><i class="fa fa-circle"></i></i> Esquema:</b></td></tr>
      <tr><td>{{estacionamientoTarifa.tarifa.esquema}} </td></tr>
      <tr><td><b><i class="fa fa-circle"></i></i> Esquema Feriado:</b></td></tr>
      <tr><td>{{estacionamientoTarifaFeriado.tarifa.esquema}} </td></tr>
    {% endif %}
    
    {% if estacionamiento.tarifa.esquema == "Tarifa diferenciada para fines de semana" %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifa.tarifa.tarifa}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa fin de semana:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifa.tarifa.tarifa2}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular Feriado:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifaFeriado.tarifa.tarifa}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa fin de semana Feriado:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifaFeriado.tarifa.tarifa2}}</td></tr>
      
    {% elif estacionamiento.tarifa.esquema == "Tarifa diferenciada por hora pico" %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifa.tarifa.tarifa}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa especial:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifa.tarifa.tarifa2}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Inicio tarifa especial:</b></td></tr>
      <tr><td>{{estacionamientoTarifa.tarifa.inicioEspecial}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Fin tarifa especial:</b></td></tr>
      <tr><td>{{estacionamientoTarifa.tarifa.finEspecial}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular Feriado:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifaFeriado.tarifa.tarifa}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa especial Feriado:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifaFeriado.tarifa.tarifa2}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Inicio tarifa especial Feriado:</b></td></tr>
      <tr><td>{{estacionamientoTarifaFeriado.tarifa.inicioEspecial}}</td></tr>
      <tr><td><b><i class="fa fa-clock-o"></i> Fin tarifa especial Feriado:</b></td></tr>
      <tr><td>{{estacionamientoTarifaFeriado.tarifa.finEspecial}}</td></tr>
      
    {% elif estacionamiento.capacidad %}
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Normal:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifa.tarifa.tarifa|floatformat:2|intcomma}}</td></tr>
      <tr><td><b><i class="fa fa-money"></i></i> Tarifa Normal Feriado:</b></td></tr>
      <tr><td>BsF. {{estacionamientoTarifaFeriado.tarifa.tarifa|floatformat:2|intcomma}}</td></tr>
    {% endif %}
    
  </tbody>
</table>
