<div class="col-sm-2">
  <h3><i class="glyphicon glyphicon-briefcase"></i>
      Menú
  </h3>
  <hr>
  <div id='cssmenu'>
  <ul>
  	<li><a href="/index"><i class="fa fa-circle"></i>
      P&aacutegina Principal
    </a></li>
	<li><a href="/billetera/crearbilletera"><i class="fa fa-credit-card"></i>
	    Editar Reserva
	</a></li>
	<li><a href="./{{reservacion.id}}/cancelar_reserva"><i class="fa fa-bank"></i>
	    Cancelar Reserva
	</a></li>
    <li><a href="../consulta_reserva"><i class="fa fa-bank"></i>
	    Volver
	</a></li>
  </ul>
  </div>
  <hr>
</div>