{% extends "base-estacionamiento.html" %}


{% block title %}
  SAGE - Estacionamiento {{estacionamiento.nombre}}
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bar-chart-o"></i>
      Tasa de Reservacion del Estacionamiento {{estacionamiento.nombre}}
    </h3>
    <hr>
    
    <div class="col-md-6">
      {% include "tabla-tasa-reservacion-motos.html" %}
    </div>
    
    <div class="col-md-6">
    	 <br>
         </br>
   
		<img class="img-responsive" src="/estacionamientos/grafica/?{{ datos_ocupacionMotos}}">
    </div>
    
    
<a href="./{{estacionamiento.id}}tasaLivianos">
          <button class="btn btn-primary">
            Tasa de Livianos
          </button>
        </a>

<a href="./{{estacionamiento.id}}tasaPesados">
          <button class="btn btn-primary">
            Tasa de Pesados
          </button>
        </a>
        
<a href="./{{estacionamiento.id}}tasaDiscapacitados">
          <button class="btn btn-primary">
            Tasa de puestos para Discapacitados
          </button>
        </a>
    
{% endblock %}